{% extends 'base.html' %}
{% block content %}
    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Login</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                	<div class="mb-4">
                       <form method="post" action="" id="CustomerLoginForm" accept-charset="UTF-8" class="contact-form">	
                          <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <!--<label for="CustomerPassword">Password</label>
                                    <input type="password" value="" name="customer[password]" placeholder="" id="CustomerPassword" class="">   -->  
                                    {{form.password.label}}
                                    {% if form.password.errors %}
                                    {{form.password(class="is-invalid",id="CustomerPassword")}}
                                    {% for error in form.password.errors %}
                                    <span style="color: red;">{{error}}</span>
                                    {% endfor %}
                                    
                                    {% else %}
                                    {{form.password(id="CustomerPassword")}}
                                    {% endif %}
                                           	
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                     <!--<label for="CustomerPassword"> Confirm Password</label>
                                    <input type="password" value="" name="customer[password]" placeholder="" id="CustomerPassword" class="">  -->            
                                    {{form.confirm_password.label}}
                                    {% if form.confirm_password.errors %}
                                    {{form.confirm_password(class="is-invalid",id="CustomerPassword")}}
                                    {% for error in form.confirm_password.errors %}
                                    <span style="color: red;">{{error}}</span>
                                    {% endfor %}
                                    
                                    {% else %}
                                    {{form.confirm_password(id="CustomerPassword")}}
                                    {% endif %}
         	
                                </div>
                            </div>

                          </div>
                          <div class="row">
                            <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                                <!--<input type="submit" class="btn mb-3" value="Sign In">
                                -->
                                {{form.submit(class="btn mb-3")}}
                            {% comment %} <div style="vertical-align: center;">
                              {{form.remember}}
                              {{form.remember.label}}
                            </div> {% endcomment %}
                                  <p class="mb-4">
									<!--<a href="#" id="RecoverPassword">Forgot your password?</a> &nbsp; | &nbsp;-->
								    <a href="{{url_for('users.register')}}" id="customer_register_link">Create account</a>
                                </p>
                            </div>
                         </div>
                     </form>
                    </div>
               	</div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    
    {% endblock content %}